---
import FaCard from "../../../components/Fa/Gallery/FaCard.astro";
import FaLayout from "../../../layouts/FaLayout.astro";
---

<FaLayout title="ارمیا مقدمی گالری" keywrd="ارمیا,مقدمی,گالری,تصاویر,GeekyChunk">
    <div class="container mx-auto w-full max-w-5xl">
        <h1 class="text-center font-bold text-3xl sm:text-4xl font-fa">گالری ارمیا</h1>
        <div class="flex flex-row flex-wrap  pt-12">
            <FaCard title="ارمیا مقدمی هوش مصنوعی" caption="ارمیا مقدمی هوش مصنوعی" img="/img/Ermia-Moghadamy.png" />
            <FaCard title="ارمیا مقدمی" caption="ارمیا مقدمی برنامه  نویس" img="/img/ermia-face.png" />
            <FaCard title="آکادمی نابلا" caption="آکادمی نابلا ارمیا مقدمی" img="/img/gallery/nb.png" />
            <FaCard title="آکادمی نخستین" caption="آکادمی نخستین ارمیا مقدمی" img="/img/gallery/nkh.png" />
            <FaCard title="آکادمی نابلا" caption="آکادمی کنکور ارمیا مقدمی" img="/img/gallery/drm.png" />
        </div>
    </div>
</FaLayout>