---
import Navbar from "../components/Navbar.astro";

interface Props {
	title: string;
	keywrd: string;
}

const { title, keywrd } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Ermia Moghadamy (Developer)" />
		<meta name="description" content="Ermia Codev Senior Programmer | Ermia Moghadamy" />
		<meta name="keywords" content={keywrd} />
		<link rel="canonical" href="https://ErmiaCodev.github.io/">
		<meta name="theme-color" content="#14b8a6" />
		<title>{title}</title>
		<link
			href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css"
			rel="stylesheet"
			type="text/css"
		/>
		<meta name="theme-color" content="#14b8a6" />

	</head>

	<body dir="ltr" class="bg-slate-800 text-slate-100 p-4">
		<Navbar />

		<slot />
	</body>
</html>

<style is:global>
	.font-fa {
		font-family: Vazirmatn, sans-serif !important;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

<script>
	import Alpine from "alpinejs";

	Alpine.start();
</script>
